<section *ngIf="wedstrijd !== undefined; else loading">

  <div class="menu">
    <div class="team">
      <h1>{{wedstrijd?.thuisClub?.name}}</h1>
    </div>
    <div class="team">
      <h1>{{wedstrijd?.uitClub?.name}}</h1>
    </div>
  </div>

  <div class="stand">
    <h1>{{getStand()}}</h1>
  </div>


  <div class="menu">
    <div class="wedstrijdStarten">
      <button mat-fab color="primary" (click)="thuisGoal()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="wedstrijdStarten">
      <button mat-fab color="primary" (click)="uitGoal()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="stand">
    <div mat-dialog-actions>
      <button mat-button (click)="closeWedstrijd()">Beeindig de weddie</button>
    </div>
  </div>



</section>

<ng-template #loading>
  <div class="loaderBox">
    <span class="loader"></span>
  </div>
</ng-template>
