<section class="component" *ngIf="chartOptions !== undefined || speler !== undefined; else loading">
  <div class="profilePictureWrapper">
    <img class="profilePicture" src="{{getImage(speler?.imageurl)}}">
  </div>

  <div class="statsWrapper">
    <div class="stats">
      <div class="horizontalStats">
        <div class="stat">
          <p>Goals: {{speler?.goals}}</p>
        </div>
        <div class="stat">
          <p>Wins: {{speler?.wins}}</p>
        </div>
      </div>

      <div class="horizontalStats">
        <div class="stat">
          <p>Draws: {{speler?.draws}}</p>
        </div>
        <div class="stat">
          <p>Loses: {{speler?.loses}}</p>
        </div>
      </div>
    </div>
  </div>




  <div id="chart">
    <apx-chart  id="test"
      [series]="chartOptions.series"
      [fill]="chartOptions.fill"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
      [colors]="chartOptions.colors"
    ></apx-chart>
  </div>
</section>


<ng-template #loading>
  <div class="loaderBox">
    <span class="loader"></span>
  </div>
</ng-template>
