<div class="component">
  <section *ngIf="zaalsessie !== undefined; else loading">
    <div class="wedstrijdAanmaken">
      <button mat-fab color="primary" (click)="createTeam()">
        <mat-icon>add</mat-icon>
      </button>
      <h3>Team aan maken</h3>
    </div>

    <div class="wedstrijdOpname">
      <button mat-fab color="primary" (click)="timeGame()">
        <mat-icon>timer</mat-icon>
      </button>
      <h3>Neem een wedstrijd op</h3>
    </div>
<!--    'Team', 'wins', 'loses', 'draws', 'punten'-->
    <table mat-table [dataSource]="teams" class="mat-elevation-z0">
      <ng-container matColumnDef="Team">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="wins">
        <th mat-header-cell *matHeaderCellDef> w </th>
        <td mat-cell *matCellDef="let element"> {{element.wins}} </td>
      </ng-container>

      <ng-container matColumnDef="loses">
        <th mat-header-cell *matHeaderCellDef> l </th>
        <td mat-cell *matCellDef="let element"> {{element.loses}} </td>
      </ng-container>

      <ng-container matColumnDef="draws">
        <th mat-header-cell *matHeaderCellDef> d </th>
        <td mat-cell *matCellDef="let element"> {{element.draws}} </td>
      </ng-container>

      <ng-container matColumnDef="punten">
        <th mat-header-cell *matHeaderCellDef> p </th>
        <td mat-cell *matCellDef="let element"> {{element.punten}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="test"
          (click)="viewTeam(row)"
          *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>

    <div class="wedstrijdenWrapper">
      <h1>Wedstrijden</h1>
      <div class="wedstrijden">
        <mat-list role="list">
          <mat-list-item *ngFor="let wedstrijd of zaalsessie.wedstrijden" role="listitem" >
            <div class="wedstrijd">
              <div class="team">
                <h1>{{wedstrijd?.thuisClub?.name}}</h1>
                <div class="thuisGoal" *ngFor="let goal of wedstrijd.thuisGoals">
                  <img src="./assets/pictures/football.png" class="footbalIcon">
                  <p>{{goal?.scoorder?.name}}</p>
                </div>
              </div>
              <p>{{getStandVanWedstrijd(wedstrijd)}}</p>
              <div class="team">
                <h1>{{wedstrijd?.uitClub?.name}}</h1>
                <div class="uitGoal" *ngFor="let goal of wedstrijd.uitGoals">
                  <p>{{goal?.scoorder?.name}}</p>
                  <img src="./assets/pictures/football.png" class="footbalIcon">
                </div>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

  </section>
</div>

<ng-template #loading>
  <div class="loaderBox">
    <span class="loader"></span>
  </div>
</ng-template>
