<main>
  <section>
    <h2>Jongens dit was de verassing</h2>
    <p>Duurde veel te lang om te maken</p>
  </section>

  <section>
    <h2>Wat heb je aan deze website?</h2>
    <ul>
      <li>Wanneer de factuur bom inslaat, kunnen we met behulp van deze website inzien wie welke week heeft gespeeld.</li>
      <li>Elke goal, win, gelijkspel, en verlies. wordt per team en per speler opgeslagen in een externe database</li>
      <li>Nu kunnen we zien of Mo dirk echt draagvlak is of niet</li>
      <li>Er komt per zaalSessie ook een MAN OF THE ZAAL poll</li>
      <li>Tenslotte moet er een team genarator komen die eerlijke teams maakt</li>
    </ul>
  </section>

</main>
